# alpine-specific paths
export SCRATCH_DIR="/scratch/alpine/${USER}/2a-peptide-search"
export RESULTS_DIR="${SCRATCH_DIR}/results"
export RESOURCES_DIR="${SCRATCH_DIR}/resources"
export LOGS_DIR="${SCRATCH_DIR}/logs"

# Auto-generate .Renviron
cat >.Renviron <<EOF
RESULTS_DIR=$RESULTS_DIR
RESOURCES_DIR=$RESOURCES_DIR
EOF
